.categoryList {
  width: 100%;
  margin-bottom: 20px;
  grid-template-columns: repeat(auto-fit, minmax(312px, 312px));
  grid-gap: 20px;
  grid-auto-rows: minmax(300px, 1fr);
  justify-content: center;
  display: grid;
  list-style: none;
  align-items: center;
}

.categoryList__card {
  background-color: #e74c3c;
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.6), 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 312px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
  padding: 10px;
  text-transform: capitalize;
}

.categoryList__image {
  max-width: 90%;
  border-radius: 4px;
  margin-top: 10px;
  max-height: 230px;
}

.categoryList p {
  color: white;
  margin: 0;
  margin-top: 10px;
  font-size: 24px;
  font-weight: 600;
}

.category-card-skeleton span {
  display: block !important;
}

.category-card-skeleton-image {
  width: 275px;
  height: 215px;
  margin-top: 10px;
  display: flex;
  align-items: start;
  justify-content: start;
}

.category-card-skeleton {
  background-color: #e74c3c;
  min-width: 312px;
  min-height: 250px;
  max-height: 250px;
  max-width: 312px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px 5px 5px 5px;
  justify-content: space-between;
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.6), 0 2px 5px rgba(0, 0, 0, 0.2);
}
